<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Разделы</a>
    <button class="navbar-toggler @_Menu.Show" type="button" @onclick="_Menu.OnChange">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse @_Menu.Show">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    Home @*<span class="sr-only">(current)</span>*@
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/data">Данные</NavLink>
            </li>
            <DropDownMenu>
                <Header>Test menu</Header>
                <Template Context="value">
                    Item: @value
                </Template>
                <ChildContent>
                    <DropDownMenuItem><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></DropDownMenuItem>
                    <DropDownMenuItem><NavLink href="/data">Данные</NavLink></DropDownMenuItem>
                </ChildContent>
            </DropDownMenu>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

@code {
    private MenuToggler _Menu = new();
}