@using Microsoft.Extensions.Logging
@inject MainViewModel Model

<header>

    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col-md-3">
                <a @onclick="() => Model.Navigator.GoToRoot()" href="/">
                    <img class="img-logo" src="Images/Logo.png" alt="SolutionTemplateLogo">
                </a>
            </div>
            <div class="col-md-9 logo-info">
                <h3>
                    <Binding Value="@Model">
                        @Model.Title
                    </Binding>
                </h3>
            </div>
        </div>
        
        <div class="row pb-3">
            <MainMenu/>
        </div>
    </div>

</header>

